@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    --primary-color: black;
    --secundary-color: white;
    --font-text: arial;
    --font-color: white;
    --font-size-navbar: 18px;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    display: flex;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}

.image-logo {
    width: 200px;
    height: 80px;
    object-fit: cover;
}


header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p {
    margin-bottom: 2rem;
    color: #ccc
}

header .image {
    position: relative;
}
header .image::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}

header .image img {
    max-width: 600px;
    margin: auto;
}

.container {
    max-width: 80%;
    margin: auto;
    padding: 5rem 2rem;
}

.blur-right {
    position: absolute;
    box-shadow: revert;
    box-shadow: 0 0 1000px 50px #0fb0d5;
    z-index: -100;
}
.blur-left {
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}


.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.5rem;
    color: #fff;
}

.link a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 100%;
}

.tittle {
    font-weight: bold;
    font-size: 24px;
}
/*
nav {
    max-width: 100%;
    margin: auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    border-bottom: groove #797979;
}*/
.navbar {
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 100%;
    padding: 1rem 1rem;
    align-items: left;
    border-bottom: groove #797979;
}

.main-container {
    display: grid;
    grid-template-rows: 'Home' 'Works' 'About' 'Contact';
    gap: 10px;
}

.section {
    border: solid #797979;
    align-self: center;
    text-align: justify;
}

.profileImage {
    text-align: center;
    padding: 30px;
}
.presentation {
    padding: 30px;
}
.presentation>h3 {
    font-size: 20px;
    padding-left: 50px;
    text-align: justify;
}
.container-works {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
    justify-items: center;
}
.card {
    width: 320px;
    height: 400px;
    padding: 10px;
    border: groove color-mix(in srgb, black 40%, blueviolet);
}
.imageCard {
    height: 170px;
    align-self: center;
}
.imageCard>img {
    width: 250px;
    height: 150px;
}
.descriptionCard {
    padding: 10px;
}
.buttonCard {
    text-align: center;
}
.buttonCard>button {
    width: 70px;
    background-color: blueviolet;
    color: white;
    border-radius: 4px;
}
/* - Investigar como hacer que se subralle el a al cambiar de seccion 
   - Investigar la forma de incluir splach de colores en el body (neon o normales) posibles colores azel morado amarillo */